Source: streamer
Section: utils
Priority: extra
Maintainer: Zang MingJie <zealot0630@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dh-autoreconf,
 autoconf-archive, pkg-config
Standards-Version: 3.9.4
Homepage: https://github.com/kghost/streamer
Vcs-Git: git://github.com/kghost/streamer.git

Package: streamer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: streamer
 streamer

Package: streamer-dbg
Architecture: any
Section: debug
Depends: streamer (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for streamer
 streamer
 .
 This package contains the debugging symbols for streamer.
