Source: udpcap
Section: utils
Priority: extra
Maintainer: Zang MingJie <zealot0630@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dh-autoreconf,
 autoconf-archive, pkg-config
Standards-Version: 3.9.4
Homepage: https://github.com/kghost/udpcap
Vcs-Git: git://github.com/kghost/udpcap.git

Package: udpcap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: udpcap
 udpcap

Package: udpcap-dbg
Architecture: any
Section: debug
Depends: udpcap (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for udpcap
 udpcap
 .
 This package contains the debugging symbols for udpcap.
